@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background-image:url(file:///C:/Users/r2hei/Desktop/images/bg2.png);
	background-size:cover;
			background-repeat:no-repeat;
			background-attachment:fixed;}